html {
	overflow-x:hidden;
}

nav {
	padding-top:1.3vh;
}

.project {
	color:#ccc;
	background-color:black;
	border-radius:5%;
	padding:2vh 2vw 0 2vw;
	margin-bottom:2vh;
	margin-top:2vh;
}

@media (max-width:450px) {
	.project h3 {
		font-size:4vw;
	}

	.project p {
		font-size:3vw;
	}
}

#about a {
	color:#888;
	text-decoration:none;
}

#about a:hover {
	color:gold;
}

.navbar-right {
	margin-right:5vw;
}

.navbar-brand {
	margin-left:5vw;
}

.section {
	min-height:100vh;
	width:100vw;
}

@media (orientation:landscape) {
	.section {
		background-size:cover;
		background-position:bottom;
	}
}

@media (orientation:portrait) {
	.section {
		background-size:auto 90vh;
		background-position:bottom;
	}
}
		
.navbar, .navbar-collapse {
	min-height:10vh;
}
#myPic {
	width:20vh;
	height:20vh;
	border-radius:30%;
}

#about {
	padding:5vw;
	background-image:url('assets/blur.jpg');
}

#name {
	position:relative;
	top:15vh;
	text-align:center;
	color:white;
}

#name > div > h1 {
	font-size:6vw;
}

#name > div > p {
	font-size:3vw;
}

#portfolio {
	background-image:url('assets/hexCode.jpg');
	margin:0;
}

#portfolio h1 {
	color:white;
	text-align:center;
}

#contact {
	background-image:url('assets/sparkle.jpg');
}

#contactRow {
	position:relative;
	top:20vh;
}

#contactRow .btn {
	margin-bottom:5vh;
	font-size:3vw;
}

#contactRow p {
	margin-bottom:5vh;
	font-size:5vw;
	color:white;
	text-align:center;
}

#contactRow a {
	color:white;
	text-decoration:none;
}

#contactRow .btn {
	background-color:#222;
	border:1px solid black;
}

#contactRow .btn:hover {
	background-color:#444;
	border:1px solid black;
}


