html {
	overflow-x:hidden;
}

nav {
	padding-top:1.3vh;
}

a {
	color:#888;
}

.navbar-right {
	margin-right:5vw;
}

.navbar-brand {
	margin-left:5vw;
}

.section {
	min-height:100vh;
	min-width:100vw;
}

@media (orientation:landscape) {
	.section {
		background-size:cover;
		background-position:bottom;
	}
}

@media (orientation:portrait) {
	.section {
		background-size:auto 90vh;
		background-position:bottom;
	}
}
		
.navbar, .navbar-collapse {
	min-height:10vh;
}
#myPic {
	width:20vh;
	height:20vh;
	border-radius:30%;
}

#about {
	padding:5vw;
	background-image:url('assets/blur.jpg');
}

#name {
	position:relative;
	top:15vh;
	text-align:center;
	color:white;
}

#name > div > h1 {
	font-size:6vw;
}

#name > div > p {
	font-size:3vw;
}

#portfolio {
	background-image:url('assets/hexCode.jpg');
}

#contact {
	background-image:url('assets/sparkle.jpg');
}

#contactRow {
	position:relative;
	top:20vh;
}

#contactRow .btn {
	margin-bottom:5vh;
	font-size:3vw;
}

#contactRow p {
	margin-bottom:5vh;
	font-size:5vw;
	color:white;
	text-align:center;
}


